# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# vscode settings
.vscode/

# ruff cache
.ruff_cache/

# Distribution / packaging
*.egg-info/

# OS specific 
.DS_Store